body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 100px;
  font-family: "Zen Maru Gothic", serif;
  font-size: 16px;
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 100px;
}
.wrapper > div {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
}
h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 30px;
}
h2 {
  font-size: 20px;
}

/* font-variant-numeric */
.font-01-01 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
}
.font-01-01::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 2px solid;
  border-top: none;
  border-bottom-right-radius: 50px; /* 左下の角丸 */
  border-bottom-left-radius: 50px; /* 右下の角丸 */
  rotate: 0;
  translate: -50%;
}
.font-01-01::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px); /* フキダシのサイズに応じて調整してください */
  left: 50%;
  width: 30px;
  height: 2px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff;
  rotate: 50deg;
  translate: -50%;
}


/* font-variant-position */
.font-01-02 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border-bottom: 2px solid #333333;
}
.font-01-02::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 30px;
  height: 2px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff;
  rotate: 50deg;
  translate: -25%;
}


/* font-variant-emoji */
.font-01-03 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border-bottom: 2px solid #333333;
  background-color: #ffffff;
}
.font-01-03::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: #ffffff; /* 背景色と同じ色を指定 */
  rotate: 135deg;
  translate: -50%;
}
.font-01-03::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  z-index: -1;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #333333 #333333 transparent transparent;
  background-color: #ffffff;
  rotate: 135deg;
  translate: -50%;
}


/* font-variation-settings */
.font-01-04 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border-bottom: 2px solid #333333;
  background-color: #ffffff;
}
.font-01-04::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: #ffffff; /* 背景色と同じ色を指定 */
  rotate: 135deg;
  translate: -50%;
}
.font-01-04::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: calc(50% - 4px);
  z-index: -1;
  width: 30px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}


/* font-variant-east-asian-width */
.font-01-05 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border-bottom: 2px solid #333333;
}
.font-01-05::before {
  content: "";
  position: absolute;
  right: -24px;
  bottom: -13px;
  width: 30px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-01-05::after {
  content: "";
  position: absolute;
  right: -23px;
  bottom: -28px;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 1px solid #ffffff; /* 背景色と同じ色を指定 */
  border-radius: 50%;
  background-color: #333333;
}


/* font-variant-alternates */
.font-01-06 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border: 2px solid #333333;
  border-radius: 4px;
}
.font-01-06::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: #ffffff; /* 背景色と同じ色を指定 */
  rotate: 135deg;
  translate: -50%;
}
.font-01-06::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #333333 #333333 transparent transparent;
  rotate: 135deg;
  translate: -50%;
}


/* 01-07 */
.font-01-07 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border: 2px solid #333333;
}
.font-01-07::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 30px;
  height: 2px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
  rotate: 50deg;
}


/* 01-08 */
.font-01-08 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border: 2px solid #333333;
  background-color: #ffffff;
}
.font-01-08::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: -2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #333333;
  background-color: #ffffff;
}
.font-01-08::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  z-index: -1;
  width: 20px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}


/* 01-09 */
.font-01-09 {
  position: relative;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.font-01-09::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60px;
  width: 26px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}


/* 01-10 */
.font-01-10 {
  position: relative;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.font-01-10::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 70px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  box-sizing: border-box;
  background-color: #ffffff; /* 背景色と同じ色を指定 */
}
.font-01-10::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 68px;
  width: 20px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}


/* 01-11 */
.font-01-11 {
  position: relative;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.font-01-11::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 68px;
  width: 26px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}
.font-01-11 > .text {
  position: absolute;
  z-index: 3;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}
.font-01-11 > .ornament {
  position: absolute;
  top: -30%;
  left: -25%;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 60%;
  height: 60%;
  font-size: 16px;
  border: 2px solid #333333;
  border-radius: 50%;
  background-color: #ffffff;
}
.font-01-11 > .ornament::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 70px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  box-sizing: border-box;
  background-color: #ffffff;
}


/* 01-12 */
.font-01-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
}
.font-01-12::before {
  content: "";
  width: 30px;
  height: 2px;
  transform: rotate(60deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-01-12::after {
  content: "";
  width: 30px;
  height: 2px;
  transform: rotate(-60deg);
  box-sizing: border-box;
  background-color: #333333;
}


/* 01-13 */
.font-01-13 {
  position: relative;
  padding: 12px 16px 12px 30px;
}
.font-01-13::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100px;
  height: 1px;
  transform: rotate(-14deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-01-13::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 120px;
  height: 1px;
  transform: rotate(14deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-01-13 > .ornament {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.font-01-13 > .ornament::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 160px;
  height: 1px;
  transform: rotate(-12deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-01-13 > .ornament::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 160px;
  height: 1px;
  transform: rotate(12deg);
  box-sizing: border-box;
  background-color: #333333;
}


/* 02-01 */
.font-02-01 {
  position: relative;
  width: fit-content;
  padding: 12px 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
}
.font-02-01::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
  width: 20px;
  height: 12px;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}


/* 02-02 */
.font-02-02 {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  color: #ffffff;
  border-radius: 100% 100% 0 100%;
  background-color: #333333;
}


/* 02-03 */
.font-02-03 {
  position: relative;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.font-02-03::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 70px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  box-sizing: border-box;
  background-color: #ffffff;
}
.font-02-03::after {
  content: "";
  position: absolute;
  top: 108%;
  left: 68px;
  width: 20px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
}
.font-02-03 > .ornament {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(3px) translateY(3px); /* 位置をややズラす */
  border-radius: 50%;
  background-color: hotpink;
  pointer-events: none; /* クリック不可にする（下のテキストに触れるように） */
  mix-blend-mode: multiply; /* 乗算 */
}


/* 02-04 */
.font-02-04 {
  position: relative;
  width: fit-content;
}
.font-02-04 > .text {
  position: relative;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #fff3d1;
}
.font-02-04 > .text::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  box-sizing: border-box;
  background-color: #fff3d1;
}
.font-02-04 > .ornament {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.font-02-04 > .ornament::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 36px;
  height: 16px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  background-color: #ff57b1;
  mix-blend-mode: multiply; /* 乗算 */
}
.font-02-04 > .ornament::after {
  content: "";
  position: absolute;
  top: calc(100% - 15px);
  right: -10px;
  width: 36px;
  height: 16px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  background-color: #64d1ff;
  mix-blend-mode: multiply; /* 乗算 */
}
